<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="16px">
  <mat-card fxFlex="100%" fxFlex.gt-sm="60%">
    <mat-card-header style="background-color: inherit;">
      <mat-card-title>Atividades</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div style="background-color: inherit;">
      <mat-card-content style="margin: 16px 16px 0 16px;">
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </div>
  </mat-card>

  <mat-card fxFlex="100%" fxFlex.gt-sm="40%">
    <mat-card-header style="background-color: inherit;">
      <mat-card-title>Eventos</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div style="background-color: inherit;">
      <mat-card-content style="margin: 16px 16px 0 16px;">
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </div>
  </mat-card>
</div>