<mat-nav-list class="m1-0" dense>
    <a mat-list-item class="m-0" style="font-size:15px; color: #fff" (click)="menu.opened = !menu.opened">
        <mat-icon class="icon-button-menu">{{ menu.icon }}</mat-icon>
        <span>{{ menu.titulo }}</span>
    </a>
    <div *ngIf="menu.opened">
    <mat-list-item *ngFor="let subMenu of menu.subMenu" style="color: #fff" [routerLink]="[subMenu.routePath]" routerLinkActive="active">
        <mat-icon class="icon-button-menu p-2">{{ subMenu.icon }}</mat-icon>
        <span>{{ subMenu.titulo }}</span>
    </mat-list-item>
    </div>
  </mat-nav-list>
  <mat-divider></mat-divider>